.navbarItem{
    color: white;
    font-size: 20px;
    border-left: 1px solid red;
    padding-left: 10px;
}
.navbarItem:hover{
    text-decoration: none;
    color:red;
}

.loginBtn Button{
    background-color: rgb(255, 0, 0);
    border-color: red;
    margin-right: 10px;
}
.loginBtn Button:hover{
    background-color: rgba(255, 0, 0, 0);
    border-color: red;
    margin-right: 10px;
}