.AboutMe_Section{
    background-color: rgba(211, 211, 211, 0.342);
}
.AboutMe_area{
    background-color: whitesmoke;
    padding: 100px 0;
    width: 100%;
    text-align: center;
    border-radius: 10%;
    /* height: 700px; */
}
.AboutMe_area img{
    width: 80%;
    border-radius: 4%;
}

.AboutMe_area article{
    color:rgba(10,10,10,0.85);
    border-radius: 4%;
    font-family: "Roboto Slab";
    font-weight: 400;
    line-height: 1.75;
}
.AboutMe_area h2{
    text-align: center;
    text-transform: uppercase !important;
    color: rgb(5, 5, 65);
    /* font-style: italic; */
    font-family: "Roboto Slab";
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 3px;
    border-bottom: 2px dashed red;
}
.AboutMe_area h2 span{
    color: red;
}