
.blog_Row{
    margin-right: 2.2%;
}
.blog_Row .blogTitle{
    text-align: center;
    letter-spacing: 5px;
    font-size: 24px;
    text-transform: uppercase !important;
    font-weight: 800;
    color: rgb(5, 5, 65);
    font-family: 'Mulish', 'sans-serif' !important;
    padding-top: 50px;
}



.blog_Row p{
    text-align: center;
    font-size: 18px;
    color: rgb(5, 5, 65);
    font-family: "Roboto Slab";
    font-weight: 400;
    padding-top: 20px;
}



.blog_Column article{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Mulish', 'sans-serif' !important;
    padding-top: 50px;
}


.blog_Column{
    width: 300px;
    height: 250px;
    opacity: .75;
}
.blog_Column:hover{
    opacity: 10;
    background-color:red;
    transform: translate(2px);
    transition: all 500ms;
    border-radius: 10px;
}

.blog_Info img{
    width: 98%;
    height: 100%;
    position: absolute;
    background-color: black;
    border-radius: 10px;
}

.blog_Column article{
    position: relative;
    margin: 20px;
}
.blog_Column Button{
    position: relative;
    background-color: rgba(255, 0, 0, 0.877);
    border-color: red;
}
.blog_Column Button:hover{
    background-color: rgba(255, 0, 0, 0.39);
    border-color: red;
}